<h1>Todo List</h1>
<table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Completed</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.completed ? 'Complete' : 'Not Complete' %></td>
        <td><a href="/todos/<%= todo.id %>">View</a></td>
        <td><a href="/todos/<%= todo.id %>/edit">Edit</a></td>
        <td>
          <form action="/todos/<%= todo.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="delete" class="btn-small red darken-2">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>